
NET "p1pc<0>" LOC = P1 | IOSTANDARD = LVTTL;
NET "p1pc<1>" LOC = P2 | IOSTANDARD = LVTTL;
NET "p1pc<2>" LOC = P3 | IOSTANDARD = LVTTL;
NET "p1pc<3>" LOC = P4 | IOSTANDARD = LVTTL;
NET "p1pc<4>" LOC = P5 | IOSTANDARD = LVTTL;

NET "p1pr<0>" LOC = P6 | IOSTANDARD = LVTTL;
NET "p1pr<1>" LOC = P7 | IOSTANDARD = LVTTL;
NET "p1pr<2>" LOC = P8 | IOSTANDARD = LVTTL;
NET "p1pr<3>" LOC = P9 | IOSTANDARD = LVTTL;
NET "p1pr<4>" LOC = P10 | IOSTANDARD = LVTTL;
NET "p1pr<5>" LOC = P11 | IOSTANDARD = LVTTL;
NET "p1pr<6>" LOC = P12 | IOSTANDARD = LVTTL;

NET "p1rc<0>" LOC = P13 | IOSTANDARD = LVTTL;
NET "p1rc<1>" LOC = P14 | IOSTANDARD = LVTTL;
NET "p1rc<2>" LOC = P15 | IOSTANDARD = LVTTL;
NET "p1rc<3>" LOC = P16 | IOSTANDARD = LVTTL;
NET "p1rc<4>" LOC = P17 | IOSTANDARD = LVTTL;
NET "p1rc<5>" LOC = P18 | IOSTANDARD = LVTTL;
NET "p1rc<6>" LOC = P19 | IOSTANDARD = LVTTL;
NET "p1rc<7>" LOC = P20 | IOSTANDARD = LVTTL;
NET "p1rc<8>" LOC = P21 | IOSTANDARD = LVTTL;
NET "p1rc<9>" LOC = P22 | IOSTANDARD = LVTTL;

NET "p1rr<0>" LOC = P23 | IOSTANDARD = LVTTL;
NET "p1rr<1>" LOC = P24 | IOSTANDARD = LVTTL;
NET "p1rr<2>" LOC = P25 | IOSTANDARD = LVTTL;
NET "p1rr<3>" LOC = P26 | IOSTANDARD = LVTTL;
NET "p1rr<4>" LOC = P27 | IOSTANDARD = LVTTL;
NET "p1rr<5>" LOC = P28 | IOSTANDARD = LVTTL;
NET "p1rr<6>" LOC = P29 | IOSTANDARD = LVTTL;
NET "p1rr<7>" LOC = P30 | IOSTANDARD = LVTTL;
NET "p1rr<8>" LOC = P31 | IOSTANDARD = LVTTL;
NET "p1rr<9>" LOC = P32 | IOSTANDARD = LVTTL;
NET "p1rr<10>" LOC = P33 | IOSTANDARD = LVTTL;
NET "p1rr<11>" LOC = P34 | IOSTANDARD = LVTTL;
NET "p1rr<12>" LOC = P35 | IOSTANDARD = LVTTL;
NET "p1rr<13>" LOC = P36 | IOSTANDARD = LVTTL;


NET "p2pc<0>" LOC = P37 | IOSTANDARD = LVTTL;
NET "p2pc<1>" LOC = P40 | IOSTANDARD = LVTTL;
NET "p2pc<2>" LOC = P41 | IOSTANDARD = LVTTL;
NET "p2pc<3>" LOC = P42 | IOSTANDARD = LVTTL;
NET "p2pc<4>" LOC = P47 | IOSTANDARD = LVTTL;


NET "p2pr<0>" LOC = P48  | IOSTANDARD = LVTTL;
NET "p2pr<1>" LOC = P49 | IOSTANDARD = LVTTL;
NET "p2pr<2>" LOC = P50 | IOSTANDARD = LVTTL;
NET "p2pr<3>" LOC = P51 | IOSTANDARD = LVTTL;
NET "p2pr<4>" LOC = P52 | IOSTANDARD = LVTTL;
NET "p2pr<5>" LOC = P53 | IOSTANDARD = LVTTL;
NET "p2pr<6>" LOC = P54 | IOSTANDARD = LVTTL;

NET "p2rc<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "p2rc<1>" LOC = P58 | IOSTANDARD = LVTTL;
NET "p2rc<2>" LOC = P60 | IOSTANDARD = LVTTL;
NET "p2rc<3>" LOC = P63 | IOSTANDARD = LVTTL;
NET "p2rc<4>" LOC = P64 | IOSTANDARD = LVTTL;
NET "p2rc<5>" LOC = P66 | IOSTANDARD = LVTTL;
NET "p2rc<6>" LOC = P67 | IOSTANDARD = LVTTL;
NET "p2rc<7>" LOC = P68 | IOSTANDARD = LVTTL;
NET "p2rc<8>" LOC = P69 | IOSTANDARD = LVTTL;
NET "p2rc<9>" LOC = P71 | IOSTANDARD = LVTTL;

NET "p2rr<0>" LOC = P72 | IOSTANDARD = LVTTL;
NET "p2rr<1>" LOC = P73 | IOSTANDARD = LVTTL;
NET "p2rr<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "p2rr<3>" LOC = P75 | IOSTANDARD = LVTTL;
NET "p2rr<4>" LOC = P76 | IOSTANDARD = LVTTL;
NET "p2rr<5>" LOC = P77 | IOSTANDARD = LVTTL;
NET "p2rr<6>" LOC = P78 | IOSTANDARD = LVTTL;
NET "p2rr<7>" LOC = P79 | IOSTANDARD = LVTTL;
NET "p2rr<8>" LOC = P80 | IOSTANDARD = LVTTL;
NET "p2rr<9>" LOC = P81 | IOSTANDARD = LVTTL;
NET "p2rr<10>" LOC = P82 | IOSTANDARD = LVTTL;
NET "p2rr<11>" LOC = P83 | IOSTANDARD = LVTTL;
NET "p2rr<12>" LOC = P84 | IOSTANDARD = LVTTL;
NET "p2rr<13>" LOC = P85 | IOSTANDARD = LVTTL;
